<div class="topbar">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-5 col-12">
                <!-- Contact -->
                <ul class="top-link">
                    <li><i class="fa"></i><a href="/home/login" class="btn primary" style="padding: 10px;"> تسجيل دخول  </a></li>
                    <li><i class="fa"></i><a href="#" class="btn primary" style="padding: 10px;"> تسجيل  </a></li>
                    <li><a href="#">الصفحة الرئيسية</a></li>
                    <li><a href="#">منتجاتنا</a></li>
                    <li><a href="#">تواصل معنا</a></li>
                    <li><a href="#">حول الموقع</a></li>
                </ul>
                <!-- End Contact -->
            </div>
            <div class="col-lg-6 col-md-7 col-12">
                <!-- Top Contact -->
                <ul class="top-contact">
                    <li><i class="fa fa-phone"></i>+963 938 350 459</li>
                    <li><i class="fa fa-envelope"></i><a href="mailto:support@yourmail.com">MyEmail@noemail.com</a></li>
                </ul>
                <!-- End Top Contact -->
            </div>
        </div>
    </div>
</div>